body {
    background-image: url('/static/images/bbb.jpg');
    background-size: cover; /* Масштабирование изображения на весь экран */
    background-repeat: no-repeat; /* Без повторения */
    background-position: center; /* Центрирование изображения */
    height: 100vh;
}